# Auto detect text files and perform LF normalization
* text=auto


# Exclude "notebooks" from the GitHub language detection to avoid 
# having "Jupyter Notebook" as the auto-detected primary language of the repo
*.ipynb linguist-detectable=false
